:root {
  font-family: "Manrope", sans-serif;
}

img {
  width: 100%;
}

p, h1, h2, h3, h4 {
  margin: 0px;
}

.container {
  max-width: 1440px;
  padding: 0px 80px 0px 80px;
}

.navPosition {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: white;
}

.navbar {
  display: flex;
  flex-shrink: 1;
  justify-content: space-between;
  flex-direction: row;
  gap: auto;
  top: -1px;
  border-bottom: 1px solid #CBD5E1;
  padding-bottom: 15px;
  align-items: center;
}

.navLinks {
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  flex-direction: row;
  gap: 1.5rem;
  font-size: 16px;
  padding: 1rem;
  align-items: center;
}
.navLinks a {
  text-decoration: none;
  color: black;
}

.login {
  width: -moz-fit-content;
  width: fit-content;
  height: 44px;
  font-size: 18px;
  border-radius: 32px;
  color: white;
  border: none;
  background: black;
  padding: 0rem 1rem 0rem 1rem;
}

.navbtn {
  padding-left: 12px;
  border-radius: 32px;
  align-items: center;
  background: #EBFAE7;
  display: flex;
  flex-shrink: 1;
  justify-content: flex-end;
  flex-direction: row;
  gap: 35px;
}

.Section_1 {
  background-color: #EBFAE7;
}

.heroSection {
  display: flex;
  padding-top: 80px;
}
.heroSection img {
  width: 100%;
  max-width: 728px;
}

.heroSection > * {
  flex: 1;
}

.heroSectionContent {
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.heroSectionContentLine {
  display: flex;
  flex-shrink: 1;
  justify-content: space-around;
  flex-direction: column;
  gap: 12px;
}

.heroSectionContentSearch, .heroSectionContentSearch input {
  display: flex;
  flex-shrink: 1;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
}

.startHeading {
  color: #427137;
  text-align: center;
  padding: 8px 16px;
  border-radius: 99px;
  width: -moz-fit-content;
  width: fit-content;
  background: #C2F1B6;
}

.mainHeading {
  font-size: 34px;
  color: black;
}

.detailedText, .testinomial p, .panelListItems p, .panelHeading > *, .articalItem p {
  font-size: 16px;
  color: #64748B;
  text-align: left;
}

.heroSectionContentSearch, .heroSectionContentSearch input {
  display: flex;
  padding: 12px 16px 12px 16px;
  border-radius: 10px;
  border: 1px solid #CBD5E1;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.0784313725);
  background: white;
}
.heroSectionContentSearch input {
  padding: 5px;
  flex-basis: 75%;
}
.heroSectionContentSearch button {
  flex-basis: 20%;
}

.heroSearch {
  width: -moz-fit-content;
  width: fit-content;
  height: 44px;
  font-size: 18px;
  border-radius: 32px;
  color: black;
  border: none;
  background: #85E36E;
  padding: 0rem 1rem 0rem 1rem;
}

.aboutSection {
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
  padding: 5rem;
  background: #FFFFFF;
  align-items: center;
}
.aboutSection > * {
  flex: 1;
}
.aboutSection img {
  max-width: 516px;
}

.aboutSectionContent {
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.Section_3 {
  background: #EBFAE7;
}

.workProcess {
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  padding: 88px 0px 88px 0px;
  align-items: center;
}
.workProcess .processContent {
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  flex-direction: row;
  gap: 4rem;
}

.articalItem {
  display: flex;
  flex-shrink: 1;
  justify-content: flex-start;
  flex-direction: column;
  gap: 26px;
  flex: 1;
}
.articalItem img {
  max-width: 80px;
}
.articalItem h3 {
  font-size: 24px;
  color: #020617;
}
.articalItem p {
  color: #334155;
}

.Section_4 {
  background: #85E36E;
}

.purchasing {
  display: flex;
  flex-shrink: 1;
  justify-content: unset;
  flex-direction: column;
  gap: 50px;
  padding: 88px 0px;
  align-items: center;
}
.purchasing .purchasingHead {
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
}
.purchasing .panelImg {
  max-width: 82px;
}
.purchasing .dottedLine {
  max-width: 3px;
}

.panel {
  display: flex;
  flex-shrink: 1;
  justify-content: space-between;
  flex-direction: row;
  gap: 150px;
  border-radius: 40px;
}
.panel .panel > * {
  flex: 1;
}

.mainHeading h2, h1 {
  font-size: clamp(1.5rem, 2vw + 1rem, 3rem);
}

.panelHeading {
  display: flex;
  flex-shrink: 1;
  justify-content: unset;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.panelHeading > * {
  text-align: center;
}

.panelHead {
  padding: 20px;
  border-radius: 20px;
  background: #6FBD5C;
  text-align: center;
}
.panelHead h3 {
  font-size: 32px;
  color: white;
}

.panelList {
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  flex-direction: column;
  gap: 56px;
  background: white;
  align-items: center;
  padding: 48px 56px;
  border-radius: 40px;
}

.panelListItems {
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.panelListItems .panelListItems > * {
  flex: 1;
}
.panelListItems p {
  text-align: center;
}

h4 {
  font-size: 22px;
}

.faqSection {
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  padding: 80px 0px 80px 0px;
  align-items: center;
}

.questionList {
  display: flex;
  flex-shrink: 1;
  justify-content: unset;
  flex-direction: column;
  gap: 8px;
  padding: 0px 100px;
}

.questionListArticle {
  display: flex;
  gap: 8px;
  flex-direction: column;
  padding: 24px 32px 24px 32px;
  background: #F9FAFB;
}

.question {
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
}
.question img {
  max-width: 31px;
}

.Section_6 {
  background: #EBFAE7;
}

.testinomialSection {
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 80px 0px 80px 0px;
  background: #EBFAE7;
  text-align: center;
  align-items: center;
}

.user {
  display: flex;
  flex-shrink: 1;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.user img {
  max-width: 48px;
}

.testinomialList {
  padding-top: 64px;
  display: flex;
  flex-shrink: 1;
  justify-content: unset;
  flex-direction: row;
  gap: 50px;
}

.testinomialList > * {
  flex: 1;
}

.testinomial {
  display: flex;
  flex-shrink: 1;
  justify-content: unset;
  flex-direction: column;
  gap: 16px;
  background: #FFFFFF;
  text-align: left;
  padding: 24px;
  border-radius: 20px;
  border: 1px;
}
.testinomial h4 {
  font-size: 20px;
}

.testinomialSection2 {
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  flex-direction: column;
  gap: 0px;
  background: white;
  padding: 88px 80px;
  align-items: center;
}

.testinomial2Box {
  display: flex;
  flex-shrink: 1;
  justify-content: unset;
  flex-direction: row;
  gap: 120px;
  background: #85E36E;
  border-radius: 20px;
}
.testinomial2Box img {
  max-width: 463px;
}

.testinomialListContent {
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding-left: 64px;
  color: #2C4C25;
}
.testinomialListContent h2 {
  font-size: 40px;
}

.testinomialListContentBtn {
  width: -moz-fit-content;
  width: fit-content;
  height: 44px;
  font-size: 18px;
  border-radius: 32px;
  color: white;
  border: none;
  background: black;
  padding: 0rem 1rem 0rem 1rem;
}

.image {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.Section_8 {
  background: #EBFAE7;
}

.footer {
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  background: #EBFAE7;
}
.footer img {
  max-width: 24px;
}
.footer h4 {
  font-size: 24px;
}

.footerContent {
  display: flex;
  flex-shrink: 1;
  justify-content: space-between;
  flex-direction: row;
  gap: auto;
  align-items: center;
}
.footerContent .footerLinks {
  display: flex;
  flex-shrink: 1;
  justify-content: flex-start;
  flex-direction: row;
  gap: 150px;
  flex-basis: 45%;
}
.footerContent .footerLinks .contactLink {
  display: flex;
  align-items: center;
}
.footerContent .col2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footerContent .col2 h5 {
  color: #427137;
  font-size: 18px;
  margin-bottom: 10px;
}

.footerLine {
  display: flex;
  flex-shrink: 1;
  justify-content: space-between;
  flex-direction: row;
  gap: auto;
  padding: 10px;
  border-top: 2px solid #CBD5E1;
}
.footerLine .secondary-btn {
  color: #427137;
  background: transparent;
  border: none;
  font-size: 16px;
}

.footer a {
  display: block;
  text-decoration: none;
  color: black;
}

@media (max-width: 768px) {
  .content2 {
    font-family: "Manrope", sans-serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 47px;
    text-align: left;
    color: black;
  }
  .panel {
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
  .heroSectionContent {
    flex-direction: column;
    text-align: center;
  }
  .navLinks {
    flex-direction: column;
    text-align: center;
  }
  .nav {
    flex-direction: column;
  }
  .nav .nav a {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .navLogin {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }
}/*# sourceMappingURL=main.css.map */