
// Variables
$bg: #FFFFFF;
$primary-50: #EBFAE7;
$primary-200: #C2F1B6;
$primary-500: #85E36E;
$primary-600: #427137;
$primary-700:#6FBD5C;
$primary-800: #2C4C25;
$text-grey1-n500: #64748B;
$text-grey1-n600 :#334155;
$text-grey1-n700: #020617;
$neutral-50: #F9FAFB;
$border-n300: #CBD5E1;
$font_family: "Manrope", sans-serif;

:root{
    font-family: $font_family;
}
// Mixins (Reusable)

@mixin btn_style($color,$background){
    width: fit-content;
    height: 44px;
    font-size: 18px;
    border-radius: 32px ;
    color: $color;
    border: none;
    background: $background; 
    padding: 0rem 1rem 0rem 1rem; 

}

@mixin flex-center($direction,$justify,$gap) {
  display: flex;
  flex-shrink: 1;
  justify-content: $justify;
  flex-direction: $direction ;
  gap: $gap;
}
@mixin font-style($font_size,$font_weight,$line_height,$text_align,$color){
    font-family:$font_family ;
    font-size: $font_size;
    font-weight: $font_weight;
    line-height: $line_height ;
    text-align: $text_align ;
    color: $color;
}
@mixin container($max-width , $margin){
    max-width: $max-width;
    margin: $margin;
}
@mixin img-setting($max-width){
    overflow: hidden;
    max-width: $max-width;
}

img{
    max-width: 100%;
}

p,h1,h2,h3,h4{
    margin: 0px
}
.container{
    max-width: 1280px;
    margin: auto;
}
.navbar{
    @include flex-center(row, space-between,50px );
    top: -1px;
    background: #FFFFFF;
    border-bottom: 1px solid #CBD5E1;
    padding-bottom: 15px;
}
.navLinks{
    @include flex-center(row,unset,12px ) ;
    a{ text-decoration:none;
        color: black;
    }
}
.login{
    @include btn_style (white,black)
}

.nav{
    @include flex-center(row,unset ,12px );
    align-items: center;
}

.navbtn{
    padding-left: 12px;
    border-radius: 32px;
    align-items: center;
    background:#EBFAE7;
    @include flex-center(row,flex-end,35px );
}

// section 1
 .Section_1{
    background-color: $primary-50;
 } 

.heroSection {
    display: flex;
    padding: 72px 0px 0px 72px;
    background: var(--Accent-50, #EBFAE7); 
img{
    @include img-setting(728px)
}
}

.heroSection > *{
    flex:1;
}
.heroSectionContent{
    @include flex-center(column,center ,40px );
}
.heroSectionContentLine{
    @include flex-center(column,space-around ,12px  )
}
.heroSectionContentSearch{
    @include flex-center(row,space-between ,10px );
}
.startHeading {
    color:$primary-600;
    text-align: center;
    padding: 8px 16px;
    border-radius: 99px;
    width: fit-content;
    background: $primary-200;
}
.mainHeading{
    font-size: 34px;
    color: black;
}
.detailedText{
    font-size: 16px;
    color: $text-grey1-n500;
    text-align: left;
}

.detailedText2{
    font-size: 16px;
    color: $text-grey1-n600;
    text-align: left;
}
.content3{
    @include font-style( 1rem, 400, 20px ,left ,$text-grey1-n500);
}
.heroSectionContentSearch{
    display: flex;
    padding: 12px 16px 12px 16px;
    border-radius: 10px;
    border: 1px solid $border-n300;
    box-shadow: 0px 2px 5px 0px #00000014;
    background: white;
    input{
        @extend .heroSectionContentSearch;
        padding: 5px;
        flex-basis: 75%;
    }
    button{
        flex-basis: 20%;
    }
}
.heroSearch{
    @include btn_style(black,$primary-500 );
}
.aboutSection{
    @include container(1440px,0rem);
    @include flex-center(row,center ,2rem );
    padding: 5rem;
    background: #FFFFFF;
    align-items: center;
    > *{
        flex:1;
    }
    > :first-child{
        text-align: right
    }
    > :last-child{
        text-align: left;
    }
    img{
        @include img-setting(516px)
    }
}
.aboutSectionContent{
    @include flex-center(column,center ,20px )
}

// work process section 3

.Section_3{
    background: $primary-50;
}
.workProcess{
    @include flex-center(column,center ,4rem );
    padding: 50px;
    align-items: center;
    .processContent{
        @include flex-center(row,center ,4rem );
        padding: 56px 48px
    }
}

.articalItem{
    @include flex-center(column,flex-start ,26px );
    flex: 1;
    img{
        max-width: 80px;
    }
    h3{
        font-size: 24px;
        color:$text-grey1-n700;
    }
    p{
        @extend .detailedText;
        color: $text-grey1-n600;
    }
}

//section 4

.Section_4{
    background: $primary-500;
}
.purchasing{
    @include flex-center(column,unset ,30px );
    padding: 88px 0px;
    align-items: center;
    .purchasingHead{
        @include flex-center(row,center ,30px );
    }
    img{
        @include img-setting(82px)
    }
}

.panel{
    @include flex-center(row,space-between ,150px );
    border-radius: 40px;
    .panel > * {
        flex: 1;
    }
}
.panelHeading{
    @include flex-center(column,unset ,24px );
    align-items: center;
    > *{
        text-align: center;
        @extend .detailedText
    }

}
.panelHead{
    padding: 20px;
    border-radius: 20px;
    background: $primary-700;
    text-align: center;
    h3{
        font-size: 32px;
        color: white;
    }

}
.panelList{
    @include flex-center(column,center ,56px );
    background: white;
    align-items: center;
    padding: 48px 56px;
    border-radius: 40px;

}

.panelListItems {
    @include flex-center(column,center , 16px);
    align-items: center;
    .panelListItems > *{
        flex: 1;
    }
    p{
        text-align: center;
        @extend .detailedText;
    }
}
h4{
    font-size: 22px;
}
.faqSection{
    @include flex-center(column,center ,2rem );
    @include container(1440px, 0px);
    padding: 88px 80px;
    align-items: center;
}
.questionList{
    @include flex-center(column,unset ,8px );
    padding: 0px 100px;
}
.questionListArticle{
 display: flex;
 gap: 8px;
 flex-direction: column;
 padding: 24px 32px 24px 32px;
 background: $neutral-50;
}
.question{
    display: flex;
    justify-content: space-between;
    
    border-radius: 12px;
    img{
        max-width: 31px;
    }
}

//section6

.Section_6{
    background: $primary-50;
}
.testinomialSection{
    @include flex-center(column,center ,2rem );
    padding: 88px 0px;
    background: $primary-50;
    text-align: center;
    align-items: center;                                 
}
.user{
    @include flex-center(row,flex-start ,20px );
    align-items: center;
}
.testinomialList{
    padding: 2rem;
    @include flex-center(row,unset ,50px );
}
.testinomialList > * {
    flex: 1;

}
.testinomial{
    @include flex-center(column,unset ,16px );
    background: #FFFFFF;
    text-align: left;
    padding: 24px;
    border-radius: 20px;
    border: 1px;
    p{
        @extend .detailedText;
    }
    h4{
        font-size: 20px;
    }
}

//section 7

.testinomialSection2{
    @include flex-center(column,center ,0px );
    background: white;
    padding: 88px 80px;
    align-items: center;
}
.testinomial2Box{
    @include flex-center(row,unset ,50px );
    background: $primary-500;
    border-radius: 20px;
    img{
        @include img-setting(463px)
    }
}
.testinomialListContent{
    @include flex-center(column,center ,20px );
    padding-left:30px ;
    color: $primary-800;
    width: 55%;
    h2{
        font-size: 40px;
    }
}
.testinomialListContentBtn{
    @include btn_style(white,black )
}
.image{
    width: 45%;
    border-top-right-radius: 20px;
    border-bottom-right-radius:20px ;
}

// section 9

.Section_8{
    background: $primary-50;
}
.footer{
    @include flex-center(column,center ,1rem );
    @include container(1440px,0rem );
    padding: 40px 80px 0px 80px;
    background: $primary-50;
}
.footerContent{
    @include flex-center(row,space-between ,0px );
    align-items: center;
    padding: 20px;
}
.footerLine{
    @include flex-center(row,space-between ,0px );
    padding: 10px;
    border-top: 2px solid #CBD5E1;
}
.footer a{
    display: block;
    text-decoration: none;
    color: black;
}
@media (max-width: 768px) {
    .content2{
        @include font-style( 44px, 400,47px ,left , black);
    }
    .panel{
        @include flex-center(column,center ,10px )
    }
    .heroSectionContent {
        flex-direction: column;
        text-align: center;
    }
    

    .navLinks {
        flex-direction: column;
        text-align: center;
    }
    .nav{
    flex-direction: column;    
    .nav a {
        margin-right: 0;
        margin-bottom: 10px;
    }
    
}
.navbar{
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.navLogin{
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}
}
